@import '../variables';

.product {

  .product-content {

    .product-left {

    }

    .product-right {
      img.product-image {
        max-width: 100%;
        margin: auto;

        border-radius: 4px;
        background-color: #f9fafc;
        border: solid 1px #e0e8ed;

        margin-bottom: 12px;
        @include thicker-hover-shadow;
        @include smoother-transition;
      }

      ul.product-examples {
        padding: 36px;
        list-style: none;
        //list-style-position: outside;

        li {
          display: inline-block;

          &:before {
            //padding-left: -24px;
            position: relative;

            margin-left: -12px;
            left: -24px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            content: '';
            display: inline-block;
            background-color: #8bd9ff;
          }
        }

      }
    }

    .product-list-box {
      max-width: 415px;
      padding: 2vw;

      margin-top: 200px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);

      @include thicker-hover-shadow;
      @include smoother-transition;

      @include breakpoint-desktop-l {
        max-width: 80%;
      }

      @include breakpoint-smartphone {
        margin-top: 0;
      }

      .list-element {
        display: flex;
        align-items: flex-start;

        .icon {
          flex: 0 0 40px;
          width: 40px;
          margin: auto;

          display: flex;
          align-items: flex-start;

          .green-checkmark, .blue-number {
            text-align: center;
            line-height: 24px;
            border-radius: 50%;
            height: 24px;
            width: 24px;
          }

          .green-checkmark {
            background-color: #6ee39e;
            color: #039442;
          }

          .blue-number {
            background-color: #8bd9ff;
            color: #f9fafc;

            font-family: 'Source Sans Pro';
            font-size: 14px;
          }
        }
      }

      .divider {
        max-width: 100%;
        left: -14px;
        right: -14px;

        position: relative;

        border-top: solid 1px #e0e8ed;
      }
    }
  }
}
