@import '../variables';

.aboutus {

  color: #1EB8FF;

  p.aboutus__description {
    max-width: 550px;
    margin-bottom: 40px;

    @include breakpoint-smartphone {
      margin-bottom: 0;
    }

  }

  p.aboutus__citation {
    max-width: 385px;
    color: $light-sky-blue;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.5px;

    font-family: 'Source Code Pro';
    font-weight: 100;

    @include breakpoint-smartphone {
      font-size: 14px;
      line-height: 1.3;

      .aboutus__citation-author {
        font-size: 12px;
        line-height: 1;
      }
    }
  }

  .two-cols {
    .aboutus-left {
      display: flex;
      justify-content: flex-end;
    }

    .aboutus-right {
      .aboutus__citation {
        padding-left: 12%;

        @include breakpoint-smartphone {
          padding-left: 0;
        }
      }
    }

  }
}
