@import '../variables';

.support {

  .support__titles {
    p, h2, h6 {
      margin: auto;
      text-align: center;
    }

    p {
      max-width: initial;
    }
  }

  .support-content {

  }
}
