@import '../variables';

.support {

  height: 790px;
  margin-top: 20px;
  padding-top: 40px;

  background: url('../bg.svg') no-repeat center center;
  background-size: cover;

  .support__titles {
    p, h2, h6 {
      margin: auto;
      text-align: center;
    }

    p {
      max-width: initial;
      padding: 15px;
      margin-bottom: 15px;
    }
  }

  .support-content {

  }
}
