@import '../variables';

.press {

  .press-content {
    max-width: 832px;
    margin: auto;
    min-height: 460px;
  }
  .press-titles {
    padding: $default-padding
  }

  .press-entry {
    padding: $default-padding;
    border-bottom: solid 1px #e0e8ed;

    color: #3c4c57;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .press-entry__text {
      flex: 1 1 auto;
      display: inline-block;
      padding-right: 15%;
    }

    .press-entry__arrow {
      flex: 0 0 20px;
      display: inline-block;
    }
  }
}
