@import '../variables';

.hero {
  min-height: 790px;
  margin-top: 20px;

  .hero-content {
    .hero-left {
      padding-top: 6vw;
      padding-right: $padding;

      .hero-button {
        display: inline-block;
        width: 160px;
        height: 45px;
        border-radius: 4px;
        color: #ffffff;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);

        margin-right: 15px;

        text-align: center;
        line-height: 42px;

        font-family: 'Source Code Pro', serif;
        font-size: 16px;
        letter-spacing: 0.6px;

        text-decoration: none;

        &.light-blue-design {
          background-color: #8bd9ff;
        }

        &.dark-blue-design {
          background-color: #3c4c57;
        }
      }

    }

    .hero-right {
      padding-top: 3vh;
      img {
        max-width: 100%;
        margin: auto;
        display: inline-block;

        border-radius: 16px;
        box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.03);
        background-color: #f9fafc;
        border: solid 1px #e0e8ed;
      }
    }
  }

}
