@import './../variables';

.grey-element {
  min-height: 80px;
  width: 100%;
  background-size: cover;
}

.grey-background {

  background-color: $backgroundcolor;
  background-size: cover;
  width: 100%;

  @include breakpoint-retina {
    background-size: contain;
    background-position: center;
  }
}

.grey-top {
  background: linear-gradient($backgroundangle, white 50%, $backgroundcolor 50%);
}

.grey-bottom {
  background: linear-gradient($backgroundangle, $backgroundcolor 50%, white 50%);
}

