@import '../variables';

.footer {
  width: 100%;

  height: 335px;
  background-color: #f0f2f8;

  font-family: 'Source Code Pro';
  font-size: 14px;
  line-height: 1.5;
  color: #283444;

  .footer-content {
    max-width: 1440px;
    margin: auto;
    padding: 62px 0 0 0;
    display: flex;

    li, h3, .footer__link {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.5;
      text-decoration: none;
      color: #283444;
    }

    ul {
      list-style: none none;
      padding: 0;

      li {
        margin: 4px 0;
      }
    }

    .footer-col__1 {
      flex: 2 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        opacity: 0.8;
        max-width: 140px;
        width: 100%;
        height: auto;
      }
    }

    .footer-col__2 {
      flex: 1 1 auto;
    }

    .footer-col__3 {
      flex: 1 1 auto;
    }

    .footer-col__4 {
      flex: 2 1 auto;
    }
  }
}
