$backgroundcolor: #f9fafc;
$backgroundangle: 178deg;
$light-sky-blue: #1eb8ff;
$light-blue: #8bd9ff;
$less-light-blue: #38b8ff;
$dark-blue: #3c4c57;
$darker-blue: #1c2931;
$grey-heading: #283444;

$default-padding: 1vw;

$breakpoint-phone: 461px;
$breakpoint-desktop: 1000px;
$breakpoint-retina: 1440px;

@mixin breakpoint-smartphone {
  @media only screen and (max-width: $breakpoint-phone) {
    @content;
  }
}

@mixin breakpoint-desktop-m {
  @media only screen and (min-width: $breakpoint-phone) and (max-width: $breakpoint-desktop) {
    @content;
  }
}


@mixin breakpoint-desktop-l {
  @media only screen and (min-width: $breakpoint-phone) and (max-width: $breakpoint-retina) {
    @content;
  }
}

@mixin breakpoint-retina {
  @media only screen and (min-width: $breakpoint-retina) {
    @content;
  }
}

@mixin smoother-transition {
  webkit-transition: box-shadow 0.2s; /* Safari */
  transition: box-shadow 0.2s, background-color 0.2s;
}

@mixin thicker-hover-shadow {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.04);
  &:hover {
    box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.07);
    @include smoother-transition;
  }
}
