@import '../variables';

body {

  a.collaborate-link {
    display: block;
    margin-top: 30px;
    text-decoration: none;

    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #7c5ae8;

    &:hover {
      text-decoration: underline;
    }

    img {
      margin-left: 14px;
    }
  }
}
